body {
	background: #ddd;
	padding: 0;
	margin: 0;
  font-family: monospace;
}
table#gameArea {
  width: 100%;
  height: 86%;
  position: absolute;
  top: 14%;
  left: 0;
}
table#gameArea td {
  background-color: white;
  text-align: center;
  font-size: 9.9vh;
  padding: 0;
}
table#gameArea td h1 {
  margin: 0;
}
@media only screen
and (min-width : 768px) {
	table#gameArea.myTurn td:hover {
	  /*background-color: yellow;*/
	  cursor: pointer;
	}
}

table#gameArea td.selected {
  background-color: cyan !important;
}
.headerBoard {
  position: absolute;
  top: 0;
  width: 100%;
  height: 14%;
  text-align: center;
  padding: 0;
}

.headerBoard #mainText {
  margin-top: 5.5vh;
  font-size: 3.3vh;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 2px;
}
#infoPanel > div {
	display: inline-block;
	padding: 5px 10px;
	margin: 0px 4px;
	background-color: rgba(255,255,255,0.6);
}
#infoPanel {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 2.2vh;
	margin: 5px 0;
	padding: 0;
	font-style: italic;
}
#infoPanel #score, #infoPanel #roundScore {
	display: inline-block;
}
