body {
	background: #ddd;
	padding: 0;
	margin: 0;
  font-family: monospace;
}
#welcomeMessage {
	width: 100%;
	position: absolute;
	top: 21%;
}
#welcomeMessage > div {
	width: 70%;
	margin: 0 auto;
	background-color: grey;
	line-height: 1.3;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	border-radius: 4vh;
	padding: 1vh 3vh 2.5vh 3vh;
	font-style: italic;
	color: white;
	font-size: 2.5vh;
	font-size:calc(100% + 0.7vh);
}
#welcomeMessage button {
	width: 100%;
	font-size: 3vh;
	line-height: 4vh;
	border-radius: 2vh;
	background-color: #FFFF99;
	border: 1px solid black;
	cursor: pointer;
}
body.no-touch #welcomeMessage button:hover {
	background-color: yellow;
	border: 1px solid black;
}
#container {
  width: 100%;
	height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
table {
  width: 100%;
  height: 100%;
}
#container > table tbody tr:first-child {
	height: 16%;
}
#container > table tbody > tr td {
	padding: 0
}
table#gameArea td {
  background-color: white;
  text-align: center;
  font-size: 9.9vh;
  padding: 0;
	cursor: default;

	height: 50%;
	width: 50%;

	-webkit-user-select: none;  /* Chrome all / Safari all */
		-moz-user-select: none;     /* Firefox all */
		-ms-user-select: none;      /* IE 10+ */
		user-select: none;          /* Likely future */
}
table#gameArea td h1 {
  margin: 0;
}
table#gameArea.faded td {
	-webkit-filter: blur(1px);
-moz-filter: blur(1px);
-ms-filter: blur(1px);
-o-filter: blur(1px);
filter: blur(1px);
}
table#gameArea.faded td h1 {
	opacity: 0.1;
}

body.no-touch table#gameArea.myTurn td:hover {
  background-color: yellow;
  cursor: pointer;
}

table#gameArea td.blue {
  background-color: cyan !important;
}
table#gameArea td.green {
  background-color: lime !important;
}
table#gameArea td.red {
  background-color: red !important;
}
.headerBoard {
  /*position: absolute;
  top: 0;
  height: 14%;*/
  width: 100%;
	text-align: center;
  padding: 0;
	margin: 0 0 0 3px;
}

.headerBoard #mainText {
  font-size: 3.3vh;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 2px;
	position: relative;
	top: 0px;
}
.headerBoard #infoIcon {
	width: 6vh;
	float: right;
	position: relative;
	top: -3vh;
	left: -4.7vw;
	z-index: 10000;
	background-color: white;
	border-radius: 3vh;
}
body.no-touch .headerBoard #infoIcon:hover {
	background-color: yellow;
	cursor: pointer;
}
.headerBoard #infoIcon.faded {
	opacity: 0.6;
}
body.no-touch .headerBoard #infoIcon.faded:hover {
	background-color: white;
}
#infoPanel > div {
	display: inline-block;
	padding: 5px 10px;
	margin: 2px 4px 2px 0;
	background-color: rgba(255,255,255,0.6);
}
#infoPanel {
	font-size: 2.2vh;
	margin: 0;
	padding: 0;
	font-style: italic;
	text-align: left;
	clear: both;
	position: relative;
	top: -0.4em;
	left: 0.4em;
}
#infoPanel #score, #infoPanel #roundScore, #infoPanel #scoretobeat {
	display: inline-block;
}
button:focus {outline:0 !important;}
.small {
	font-size: 80%;
}
